.about
    padding: 20px
    background: $white

    @media screen and (min-width: 850px)
        padding: 50px

    & > .title
        text-align: center
        font-size: 40px
        margin: 0 0 40px
        color: $grey-dark

    & > article
        width: 100%
        max-width: 1024px
        margin: 0 auto