@import 'animations/dots'

.contact
    background: $red
    padding: 30px

    & > div
        width: 100%
        max-width: 1024px
        margin: 0 auto

        & > p
            color: $white
            font-size: 12px

        &.hide
            display: none

        &.thanks
            & > span
                display: block;
                font-size: 26px;
                color: $white;
        &.error-block
            background: #ffb0b0
            color: #b22324
            text-align: center
            line-height: 30px
            font-size: 14px
            display: none
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            max-width: none;

        &.inserted
            width: 100%
            max-width: 1024px
            margin: 0 auto

            &:after
                content: " "
                clear: both
                display: block

            & > *
                @media screen and (min-width: 850px)
                    float: left
                    width: 50%

            & > form
                position: relative
                box-sizing: border-box
                padding: 15px 0

                &.loading:after
                    content: "."
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 100%
                    background: #b22324
                    opacity: 0.9
                    text-align: center
                    line-height: 40px
                    font-size: 40px
                    color: #FFF
                    animation: dots 3s infinite

                @media screen and (min-width: 850px)
                    padding: 15px 10px 0

                & > input
                    width: 100%
                    box-sizing: border-box
                    border: 2px solid $grey
                    color: $black
                    font-family: Lato,Helvetica,Arial,sans-serif
                    font-size: 15px
                    line-height: 1.467
                    padding: 0px 12px
                    height: 42px
                    border-radius: 5px

                    &:focus
                        outline: none
                        border: 2px solid #ffb0b0

                    @media screen and (min-width: 500px)
                        width: 75%

                & > button
                    width: 100%
                    line-height: 35px
                    border: 2px solid #fff
                    background: transparent
                    color: #fff
                    border-radius: 5px
                    vertical-align: top
                    font-weight: 600
                    cursor: pointer
                    font-size: 14px
                    transition: .5s ease
                    margin-top: 15px

                    @media screen and (min-width: 500px)
                        margin-top: 0
                        width: 23%

                    &:focus
                        outline: none

                    &:hover
                        color: $red
                        background: $white
                        transition: .5s ease

    &.error
        padding-top: 50px
        position: relative

        .error-block
            display: block