@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')

body
    padding: 0px
    margin: 0px
    font-family: 'Open Sans', sans-serif
    color: #1a222a

.hero
    overflow: hidden
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh

.hero-content
    align-items: center
    display: flex
    flex-grow: 1
    flex-shrink: 0

@import 'sections/main'
@import 'sections/about'