@import 'variables/colors'

body
    padding: 0px
    margin: 0px
    font-family: 'Open Sans', sans-serif
    color: $black

h1, .hide
    display: none

a
    text-decoration: none
    color: $blue
    opacity: 0.8

    &:hover
        opacity: 1

.hero
    overflow: hidden
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh

.hero-content
    align-items: center
    display: flex
    flex-grow: 1
    flex-shrink: 0

@import 'sections/main'
@import 'sections/data'
@import 'sections/about'
@import 'sections/contact'
@import 'sections/how'
@import 'sections/footer'