.tweet
  background: #fff
  border-radius: 5px
  margin: 0 auto 10px
  padding: 10px

  &:after
    content: " "
    display: block
    clear: both

  & > .img, & > .info
    float: left

  & > .info
    width: calc(100% - 45px)

  & > .img
    background: rgba(0,0,0, 0.5)
    width: 25px
    height: 25px
    border-radius: 50%

  & > .info
    padding: 0 10px

    & > .nickname, & > .username
      display: block
      float: left

    & > .nickname
      background: rgba(0,0,0, 0.8)
      height: 6px
      width: 55px

    & > .username
      background: rgba(0,0,0, 0.2)
      height: 4px
      width: 40px
      margin-top: 2px
      margin-left: 10px

    & > .content
      margin-top: 12px

      & > div
        width: 100%
        background: rgba(0,0,0, 0.4)
        height: 4px
        margin: 3px 0 0 0