<div class="ask {{#if isForm}}ask-form{{/if}}">
    {{#if isForm}}
        <div class="select"></div>
        {{#check}}{{/check}}
        <div class="submit"></div>
    {{else}}
        <div class="title"></div>
        <div class="count"></div>
    {{/if}}
</div>