<div class="steper">
    <div class="step">
        <div class="number">1</div>
        <div class="text">Coleta de Tweets</div>
    </div>
    <div class="step">
        <div class="number">2</div>
        <div class="text">Dados Especialistas</div>
    </div>
    <div class="step">
        <div class="number">3</div>
        <div class="text">Processamento e Predição</div>
    </div>
</div>