<div class="steper">
    {{#each session_four.articles }}
        <div class="step">
            <div class="number">{{#inc n=1}}{{@index}}{{/inc}}</div>
            <div class="text">{{ title }}</div>
        </div>
    {{/each}}
</div>