<div class="tweet" id="{{tweet}}">
  <div class="img"></div>
  <div class="info">
    <div class="nickname"></div>
    <div class="username"></div>
    <div class="content">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>