<div class="momo-screen">
    <div class="header"></div>
    <div class="container">
        {{> tweet }}
        <div class="row">
            <div></div>
            <div>
                {{>momo-ask}}
                {{>momo-ask}}
                {{>momo-ask isForm=true selected=1}}
            </div>
        </div>
    </div>
</div>