<div class="shell-screen">
    <div class="inner">
        <div class="l-10"></div>
        <div class="l-30"></div>
        <div class="l-20"></div>
        <div class="l-50"></div>
        <div class="l-60"></div>
        <div class="l-100"></div>
        <div class="l-50"></div>
        <div class="l-80"></div>
        <div class="l-30"></div>
        <div class="l-60"></div>
        <div class="l-20"></div>
        <div class="l-40"></div>
        <div class="l-50"></div>
        <div class="l-30"></div>
        <div class="l-70"></div>
        <div class="l-80"></div>
        <div class="l-100"></div>
        <div class="l-50"></div>
        <div class="l-10"></div>
        <div class="l-30"></div>
        <div class="l-20"></div>
        <div class="l-50"></div>
        <div class="l-60"></div>
        <div class="l-100"></div>
        <div class="l-50"></div>
        <div class="l-80"></div>
        <div class="l-30"></div>
        <div class="l-60"></div>
        <div class="l-20"></div>
        <div class="l-40"></div>
        <div class="l-50"></div>
        <div class="l-30"></div>
        <div class="l-70"></div>
        <div class="l-80"></div>
        <div class="l-100"></div>
        <div class="l-50"></div>
    </div>
</div>