<div class="twitter-screen">
    <div class="header"></div>
    <div class="body">
        <div class="col">
            <div class="block filled"></div>
            <div class="block link">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="col">
            {{> tweet }}
            {{> tweet }}
            {{> tweet }}
            {{> tweet }}
            {{> tweet }}
        </div>
        <div class="col">
            <div class="block filled"></div>
        </div>
    </div>
</div>